.root{
  text-align: left;
}
.flip-card {

  background-color: transparent;
  width: 500px;
  height: 300pxpx;
  border: none;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}
.flip-card-inner {
  position: relative;
  width: 500px;
  height: 300px;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 500px;
  height: 300px;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}
.flip-card-front {
  background-color: none;
  color: black;
  img{
    height: 100%;
    width: auto;
  }
}
.flip-card-back {
  // background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}
#grid{
  margin: 100px 30% 200px 30%;
  width: 300px;
}
#thankYou{
  background-color: white;
  color: black;
  height: 100px;
}
#results{
  text-align: center;
}