.footer{
  background-color: #161C30;
  color:#FFF5D5;
  text-align: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  // height: 50px;
  h4{
    font-size: 40px;
    background-color: #161C30;
  }
  a{
    color:#F2EBEB;
    text-decoration: none;
  }
  margin-top: 0;
  padding-bottom: 20px;
}