.footer{
  background-color: #161C30;
  color:#FFF5D5;
  height: 50px;
  line-height: 50px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  h4{
    padding-left: 25px;
  }
  a{
    color:#F2EBEB;
    text-decoration: none;
  }
}